* {
  margin: 0;
}

header {
  background-color: black;
  height: 100px;
}

h1 {
  color: green;
  height: 60px;
}

a {
  color: red;
  text-decoration: none;
}

div {
  border: solid 1px royalblue;
  width: 500px;
  border-radius: 10px;
}

img {
  width: 500px;
  border-radius: 10px;
}

figcaption {
  color: red;
  font-size: 30px;
}

footer {
  background-color: black;
}

li {
  color: chartreuse;
  list-style: none;
}
